[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    
    "CC0-1.0",      
    "Unlicense",   
    "Zlib",        
    
    "Apache-2.0 WITH LLVM-exception",  
    
    "Unicode-3.0",  
    "MPL-2.0",      
    "CDLA-Permissive-2.0", 
]

confidence-threshold = 0.8

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]